// Font.
$font: (
  primary: ("PT Serif", serif)
);

// Palette.
$palette: (
  primary:       #000000,
  secondary:     darken(#010101, 27%),
  meta:          lighten(#000000, 23%),
  border:        lighten(#FFF8EB, 38%),
  bg:            lighten(#FFF8EB, 55%),
  accent:        #ffd300,
  accent-blue:   #1fa2ff,
  accent-green:  #24b466,
  accent-red:    #f45a4e
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/footer";
@import "imports/animations";
@import "imports/palettes";
@import "imports/banner";
